# Ignore the virtual environment folder
env/

# Ignore Python cache files and compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore macOS system files
**/.DS_Store

# Ignore Windows system files
Thumbs.db
Desktop.ini

# Ignore local environment configuration files (optional, if applicable)
.vscode/
.idea/

# Ignore log files
*.log

# Ignore config and credential files (if any)
*.env
*.config
